# Database Configuration
POSTGRES_DB=nextcloud
POSTGRES_USER=nc_db_user
POSTGRES_PASSWORD=isi_password_database_disini

# Nextcloud Admin
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=isi_password_admin_disini
NEXTCLOUD_DOMAIN=cloud.domainanda.com

# S3 Compatible Storage (Cloudflare R2 / Backblaze B2)
S3_BUCKET=nama-bucket-anda
S3_ACCESS_KEY=isi_access_key_disini
S3_SECRET_KEY=isi_secret_key_disini
S3_HOSTNAME=contoh.r2.cloudflarestorage.com
S3_REGION=auto

# Cloudflare Tunnel
CLOUDFLARE_TUNNEL_TOKEN=isi_token_cloudflare_disini
